# Reminder:
#
# - A leading slash means the pattern is anchored at the root.
#
# - No leading slash means the pattern matches at any depth.

# Special files
./environment

# Python files
*.pyc
__pycache__/
.mypy_cache/
*.egg-info/
/build/
/dist/
/.eggs/

# IDE project files
/.pydevproject

# vim python-mode plugin
/.ropeproject

# IntelliJ IDEA / PyCharm project files
/.idea
/*.iml

# OS X metadata files
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
